<label>Server Name</label>
<!--input type="text" 
class="form-control"
(input)="onUpdateServerName($event)"
-->
<!--Using Two-Way Databinding @Using ngModel directive-->
<!--WE NEED TO HAVE FormsModule in our imports array in
app.module.ts
-->
<input type="text" 
class="form-control"
[(ngModel)]="serverName"
>
<!--p>{{serverName}}</p-->
<button 
class="btn btn-primary" 
[disabled]="!allowNewServer"
(click)="onCreateServer()"
> 
Add Server 
</button>
<!--<p [innerText]="allowNewServer"></p>-->
<p> {{serverCreationStatus}} </p>
<hr>
<label>User Name</label>
<input type="text" 
class="form-control"
[(ngModel)]="userName"
>
<p>{{userName}}</p>
<button 
class="btn btn-primary" 
[disabled]="userName===''"
(click)="onAddNewUser()"
> 
Reset User
</button>
<p> {{userAddStatus}} </p>
<hr>
<app-server></app-server>
<app-server></app-server>
